<%- include("templates/headers.ejs") %>

<div class="bar">
<div class="container bar ">
    <div class="search-container">
      <input
        type="text"
        placeholder="Type a cocktail name..."
        id="user-inp"
        value="margarita"
        class="bar"
      />
      <button id="search-btn">Search</button>
    </div>
    <div id="result" ></div>
  </div>
  </div>
  <%- include("templates/footer.ejs") %>
